@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap");
.dark-theme {
  --bg: rgba(17 17 17 / 94);
  --primary_text: #fff;
  --secondary_text: #858E96;
  --boxs: #333;
  background-color: var(--bg);
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--boxs); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.6s;
  color: var(--home-text); /* 0.5 second transition effect to slide in the sidenav */
}

.side-content {
  padding: 30px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.mood h6 {
  margin-left: 10px;
  margin-top: 8px;
}
.mood img {
  width: 26px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.light-theme {
  --bg: #eee;
  --primary_text: #000;
  --secondary_text: #333;
  --home-text: #fff;
  --home-text-secondary: #EAE6E6;
  --boxs: #fff;
  background-color: var(--bg);
}

.con {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.btn-back-side {
  width: 100px;
  height: 35px;
  background-color: #F78121;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  display: none;
}

.navpar {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.navpar .logo img {
  width: 277px;
  height: 35px;
}
.navpar .nav-icons .btn-back {
  width: 100px;
  height: 35px;
  background-color: #F78121;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  top: -25px;
  left: 20px;
}
.navpar .nav-icons .Menu-icon {
  width: 64px;
}

hr {
  opacity: 0.3;
}

.video-con {
  margin-top: 150px;
}
.video-con .video {
  width: 80%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--boxs);
  border-radius: 10px;
}
.video-con .video img {
  width: 96px;
  padding-top: 250px;
  padding-right: 45%;
}

@media only screen and (max-width: 600px) {
  .btn-back-side {
    display: block;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .btn-back-side {
    display: block;
  }
}/*# sourceMappingURL=videos.css.map */